        
<?xml version="1.0" encoding="UTF-8"?>
<rss xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:media="http://search.yahoo.com/mrss/" version="2.0">
  <channel>
    <title>Di Digital - Senaste nytt</title>
    <link>https://digital.di.se/rss</link>
    <description />
    <item>
      <title>Kina vägrar gå med på USA:s krav på Tiktok</title>
      <link>https://www.di.se/digital/kina-vagrar-ga-med-pa-usa-s-krav-pa-tiktok/</link>
      <description>Kina kommer inte acceptera att den populära appen Tiktok säljs av från moderbolaget Bytedance. Det meddelade Kinas handelsdepartement i samband med att Tiktoks vd Shou Zi Chew grillats i den amerikanska kongressen. Det rapporterar CNBC.</description>
      <pubDate>Fri, 24 Mar 2023 12:47:04 GMT</pubDate>
      <guid>https://www.di.se/digital/kina-vagrar-ga-med-pa-usa-s-krav-pa-tiktok/</guid>
      <dc:creator>Marianne Agazzi</dc:creator>
      <dc:date>2023-03-24T12:47:04Z</dc:date>
      <media:content type="image/jpeg" url="https://cached-images.bonnier.news/gcs/di-bilder-prod/mly/27f8e5f1-78ab-4f5b-96c6-7d8ce0250c78.jpeg?interpolation=lanczos-none&amp;downsize=1000:*&amp;output-quality=80&amp;output-format=jpeg">
        <media:description>Tiktoks vd Shou Zi Chew gör sitt yttersta för att distansera bolaget från Kina. Nu rör Peking om i grytan.</media:description>
        <media:thumbnail url="https://cached-images.bonnier.news/gcs/di-bilder-prod/mly/27f8e5f1-78ab-4f5b-96c6-7d8ce0250c78.jpeg?interpolation=lanczos-none&amp;downsize=1000:*&amp;output-quality=80&amp;output-format=jpeg"
        /></media:content>
    </item>
    <item>
      <title>Rakettillväxt för miljardvärderad röstningsapp – ska öppna kontor i Sydney</title>
      <link>https://www.di.se/digital/rakettillvaxt-for-miljardvarderad-rostningsapp-ska-oppna-kontor-i-sydney/</link>
      <description>Den miljardvärderade omröstningstjänsten Mentimeter växer i raketfart, har redan 330 medarbetare och krattar för ett nytt kontor i Sydney senare i år. ”Det tuffa fjolåret visar att vi har en affärskritisk tjänst”, säger vd:n Johnny Warström.</description>
      <pubDate>Fri, 24 Mar 2023 10:34:48 GMT</pubDate>
      <guid>https://www.di.se/digital/rakettillvaxt-for-miljardvarderad-rostningsapp-ska-oppna-kontor-i-sydney/</guid>
      <dc:creator>Jonas Leijonhufvud</dc:creator>
      <dc:date>2023-03-24T10:34:48Z</dc:date>
      <media:content type="image/jpeg" url="https://cached-images.bonnier.news/gcs/di-bilder-prod/mly/794b560f-5ddc-49d3-8e0a-8d57c364d7fe.jpeg?interpolation=lanczos-none&amp;downsize=1000:*&amp;output-quality=80&amp;output-format=jpeg">
        <media:description>Johnny Warström och Niklas Ingvar, grundare av Mentimeter med 330 medarbetare och kontor i Stockholm, Toronto, Kanada (höger i bild) och snart även i Sydney, Australien (vänstra bilden).</media:description>
        <media:thumbnail url="https://cached-images.bonnier.news/gcs/di-bilder-prod/mly/794b560f-5ddc-49d3-8e0a-8d57c364d7fe.jpeg?interpolation=lanczos-none&amp;downsize=1000:*&amp;output-quality=80&amp;output-format=jpeg"
        /></media:content>
    </item>
    <item>
      <title>ThriveDX tillhandahåller ett människofokuserat tillvägagångssätt för säkerhetsmedvetenhet</title>
      <link>https://www.di.se/digital/brandstudio/thrivedx/thrivedx-tillhandahaller-ett-manniskofokuserat-tillvagagangssatt-for-sakerhetsmedvetenhet/</link>
      <description>Med den snabba tekniska och digitala utvecklingen är det en växande utmaning för varje organisation att hålla de anställda uppdaterade om säkerhet och de senaste cyberhoten. Det globala säkerhetsföretaget ThriveDX strävar efter att bygga upp en
        ny digital arbetsstyrka för att påskynda övergången till den digitala tidsåldern, med en unik utbildningsmodell som syftar till att fortbilda och omskola medarbetare.</description>
      <pubDate>Fri, 24 Mar 2023 09:58:29 GMT</pubDate>
      <guid>https://www.di.se/digital/brandstudio/thrivedx/thrivedx-tillhandahaller-ett-manniskofokuserat-tillvagagangssatt-for-sakerhetsmedvetenhet/</guid>
      <dc:date>2023-03-24T09:58:29Z</dc:date>
      <media:content type="image/jpeg" url="https://cached-images.bonnier.news/gcs/di-bilder-prod/mly/0e7bba53-6af5-4bec-a068-9cc0db2bad2d.jpeg?interpolation=lanczos-none&amp;downsize=1000:*&amp;output-quality=80&amp;output-format=jpeg">
        <media:description />
        <media:thumbnail url="https://cached-images.bonnier.news/gcs/di-bilder-prod/mly/0e7bba53-6af5-4bec-a068-9cc0db2bad2d.jpeg?interpolation=lanczos-none&amp;downsize=1000:*&amp;output-quality=80&amp;output-format=jpeg" /></media:content>
    </item>
    <item>
      <title>Uppstickaren som revolutionerar spelindustrin</title>
      <link>https://www.di.se/digital/brandstudio/flexion/uppstickaren-som-revolutionerar-spelindustrin/</link>
      <description>Sedan mobilspelsdoldisen Flexion Mobile börsnoterades på Nasdaq First North 2018 har man ökat sin kvartalsomsättning mer än 30 gånger. Det tack vare bolagets unika affärsidé och patenterade teknologi. Nu satsar Flexion på fortsatt hög tillväxt genom
        förvärv inom influencer marketing och investeringar i ny distribution och fler spel.</description>
      <pubDate>Fri, 24 Mar 2023 09:39:46 GMT</pubDate>
      <guid>https://www.di.se/digital/brandstudio/flexion/uppstickaren-som-revolutionerar-spelindustrin/</guid>
      <dc:date>2023-03-24T09:39:46Z</dc:date>
      <media:content type="image/jpeg" url="https://cached-images.bonnier.news/gcs/di-bilder-prod/mly/2ba59e6f-97fa-43a0-a829-7504197027a0.jpeg?interpolation=lanczos-none&amp;downsize=1000:*&amp;output-quality=80&amp;output-format=jpeg">
        <media:description />
        <media:thumbnail url="https://cached-images.bonnier.news/gcs/di-bilder-prod/mly/2ba59e6f-97fa-43a0-a829-7504197027a0.jpeg?interpolation=lanczos-none&amp;downsize=1000:*&amp;output-quality=80&amp;output-format=jpeg" /></media:content>
    </item>
    <item>
      <title>SaveLend Groups dotterbolag först i Sverige med tillstånd att tillhandahålla gräsrotsfinansieringstjänster</title>
      <link>https://www.di.se/digital/brandstudio/savelend/savelend-groups-dotterbolag-forst-i-sverige-med-tillstand-att-tillhandahalla-grasrotsfinansieringstjanster/</link>
      <description>Gräsrotsfinansiering är en investeringsform som länge har varit något av en doldis på investeringsmarknaden. SBL Finans AB (publ) var först i Sverige med att få tillstånd från Finansinspektionen att tillhandahålla lånebaserade gräsrotsfinansieringstjänster.
        – Detta är resultatet av en komplex ansökningsprocess som vi har kunnat sköta helt och hållet med kompetens in-house, berättar vd Ludwig Pettersson.</description>
      <pubDate>Fri, 24 Mar 2023 09:34:36 GMT</pubDate>
      <guid>https://www.di.se/digital/brandstudio/savelend/savelend-groups-dotterbolag-forst-i-sverige-med-tillstand-att-tillhandahalla-grasrotsfinansieringstjanster/</guid>
      <dc:date>2023-03-24T09:34:36Z</dc:date>
      <media:content type="image/jpeg" url="https://cached-images.bonnier.news/gcs/di-bilder-prod/mly/5aaf9c86-87a0-49c1-a55a-e85fd14bef63.jpeg?interpolation=lanczos-none&amp;downsize=1000:*&amp;output-quality=80&amp;output-format=jpeg">
        <media:description />
        <media:thumbnail url="https://cached-images.bonnier.news/gcs/di-bilder-prod/mly/5aaf9c86-87a0-49c1-a55a-e85fd14bef63.jpeg?interpolation=lanczos-none&amp;downsize=1000:*&amp;output-quality=80&amp;output-format=jpeg" /></media:content>
    </item>
    <item>
      <title>Influerarbolaget ansöker om konkurs</title>
      <link>https://www.di.se/digital/influerarbolaget-ansoker-om-konkurs/</link>
      <description>Influerarbolaget Society Icon har lämnat in konkursansökan till Stockholms tingsrätt. Det rapporterar tidningen Resumé. </description>
      <pubDate>Fri, 24 Mar 2023 08:55:30 GMT</pubDate>
      <guid>https://www.di.se/digital/influerarbolaget-ansoker-om-konkurs/</guid>
      <dc:creator>Marianne Agazzi</dc:creator>
      <dc:date>2023-03-24T08:55:30Z</dc:date>
      <media:content type="image/jpeg" url="https://cached-images.bonnier.news/gcs/di-bilder-prod/mly/b90cf576-c3ef-417c-afef-cac8fabbb88a.jpeg?interpolation=lanczos-none&amp;downsize=1000:*&amp;output-quality=80&amp;output-format=jpeg">
        <media:credit role="author" scheme="urn:ebu">Naina Helén Jåma/TT</media:credit>
        <media:description />
        <media:thumbnail url="https://cached-images.bonnier.news/gcs/di-bilder-prod/mly/b90cf576-c3ef-417c-afef-cac8fabbb88a.jpeg?interpolation=lanczos-none&amp;downsize=1000:*&amp;output-quality=80&amp;output-format=jpeg" /></media:content>
    </item>
    <item>
      <title>Meds slaktar värderingen – genomför ännu en nyemission</title>
      <link>https://www.di.se/digital/meds-slaktar-varderingen-genomfor-annu-en-nyemission/</link>
      <description>Förlustdrabbade apotekskedjan Meds sänker värderingen rejält inför en nyemission som ska tillföra minst 50 miljoner kronor under våren. Det framgår av ett brev till aktieägarna, signerat vd Björn Thorngren, som Di Digital tagit del av.</description>
      <pubDate>Fri, 24 Mar 2023 06:16:19 GMT</pubDate>
      <guid>https://www.di.se/digital/meds-slaktar-varderingen-genomfor-annu-en-nyemission/</guid>
      <dc:creator>Jonas Leijonhufvud</dc:creator>
      <dc:date>2023-03-24T06:16:19Z</dc:date>
      <media:content type="image/jpeg" url="https://cached-images.bonnier.news/gcs/di-bilder-prod/mly/3dc51bb8-3b62-432e-935a-194b47a1c6c7.jpeg?interpolation=lanczos-none&amp;downsize=1000:*&amp;output-quality=80&amp;output-format=jpeg">
        <media:description>Meds medgrundare och vd Björn Thorngren.</media:description>
        <media:thumbnail url="https://cached-images.bonnier.news/gcs/di-bilder-prod/mly/3dc51bb8-3b62-432e-935a-194b47a1c6c7.jpeg?interpolation=lanczos-none&amp;downsize=1000:*&amp;output-quality=80&amp;output-format=jpeg"
        /></media:content>
    </item>
    <item>
      <title>Tech-guruns varning: Uppstädning bland vc-fonderna</title>
      <link>https://www.di.se/digital/tech-guruns-varning-uppstadning-bland-vc-fonderna/</link>
      <description>Snart kommer varselvågen till riskkapitalbolagen. Det spår affärsängeln och entreprenören Mattias Miksche. Svårigheter att få tillbaka sina investeringar tillsammans med minskat inflöde av kapital från investerarna bäddar för en stor utrensning.
        ”Jag tror att fondernas investerare kommer att kräva nedskärningar”, säger Mattias Miksche.</description>
      <pubDate>Thu, 23 Mar 2023 19:44:49 GMT</pubDate>
      <guid>https://www.di.se/digital/tech-guruns-varning-uppstadning-bland-vc-fonderna/</guid>
      <dc:creator>Lovisa Ternby</dc:creator>
      <dc:date>2023-03-23T19:44:49Z</dc:date>
      <media:content type="image/jpeg" url="https://cached-images.bonnier.news/gcs/di-bilder-prod/mly/ace88f67-f700-4207-9871-13544c5c59c3.jpeg?interpolation=lanczos-none&amp;downsize=1000:*&amp;output-quality=80&amp;output-format=jpeg">
        <media:credit role="author" scheme="urn:ebu">Hanna Wemmenhag</media:credit>
        <media:description>Mattias Miksche, affärsängel och entreprenör.</media:description>
        <media:thumbnail url="https://cached-images.bonnier.news/gcs/di-bilder-prod/mly/ace88f67-f700-4207-9871-13544c5c59c3.jpeg?interpolation=lanczos-none&amp;downsize=1000:*&amp;output-quality=80&amp;output-format=jpeg"
        /></media:content>
    </item>
    <item>
      <title>Tiktoks vd: ”vi är inte agent för Kina”</title>
      <link>https://www.di.se/digital/tiktoks-vd-vi-ar-inte-agent-for-kina/</link>
      <description>Tiktok låter sig inte ”manipuleras av någon regering” – och är berett att ge oberoende övervakare full insyn. Det lovar den omstridda kinesiska appens högste chef, i en skarp utfrågning i USA:s kongress under torsdagen. Men USA:s utrikesminister
        betraktar Tiktok som en säkerhetsrisk.</description>
      <pubDate>Thu, 23 Mar 2023 19:32:38 GMT</pubDate>
      <guid>https://www.di.se/digital/tiktoks-vd-vi-ar-inte-agent-for-kina/</guid>
      <dc:creator>TT</dc:creator>
      <dc:date>2023-03-23T19:32:38Z</dc:date>
      <media:content type="image/jpeg" url="https://cached-images.bonnier.news/gcs/di-bilder-prod/mly/d86e16a6-11ef-492d-8404-c09b740bdb2d.jpeg?interpolation=lanczos-none&amp;downsize=1000:*&amp;output-quality=80&amp;output-format=jpeg">
        <media:credit role="author" scheme="urn:ebu">Alex Brandon</media:credit>
        <media:description />
        <media:thumbnail url="https://cached-images.bonnier.news/gcs/di-bilder-prod/mly/d86e16a6-11ef-492d-8404-c09b740bdb2d.jpeg?interpolation=lanczos-none&amp;downsize=1000:*&amp;output-quality=80&amp;output-format=jpeg" /></media:content>
    </item>
    <item>
      <title>Renewcells fabrik åter i drift inom två veckor: ”Kraftiga rörelser när sånt här händer”</title>
      <link>https://www.di.se/digital/renewcells-fabrik-ater-i-drift-inom-tva-veckor-kraftiga-rorelser-nar-sant-har-hander/</link>
      <description>Branden i Renewcells fabrik har fått aktien att rasa. I väntan på mer information från bolaget har marknaden försökt prisa in kostnaderna. ”Det blir en stor osäkerhet i ett sådant här bolag, det är inte bara rena kostnader för reparerationer som
        ska räknas in”, säger en analytiker som täcker miljöteknikbolaget.  Efter börsens stängning under torsdagen meddelade bolaget att man räknar med att åter igen vara i drift inom två veckor. </description>
      <pubDate>Thu, 23 Mar 2023 17:19:47 GMT</pubDate>
      <guid>https://www.di.se/digital/renewcells-fabrik-ater-i-drift-inom-tva-veckor-kraftiga-rorelser-nar-sant-har-hander/</guid>
      <dc:creator>Nicholas Tsakonas</dc:creator>
      <dc:date>2023-03-23T17:19:47Z</dc:date>
      <media:content type="image/jpeg" url="https://cached-images.bonnier.news/gcs/di-bilder-prod/mly/23cdabef-9bd0-46f1-81c2-f2175ee678eb.jpeg?interpolation=lanczos-none&amp;downsize=1000:*&amp;output-quality=80&amp;output-format=jpeg">
        <media:credit role="author" scheme="urn:ebu">Alexander Donka</media:credit>
        <media:description>Renewcells aktie rasade i samband med branden i bolagets fabrik utanför Sundsvall.</media:description>
        <media:thumbnail url="https://cached-images.bonnier.news/gcs/di-bilder-prod/mly/23cdabef-9bd0-46f1-81c2-f2175ee678eb.jpeg?interpolation=lanczos-none&amp;downsize=1000:*&amp;output-quality=80&amp;output-format=jpeg"
        /></media:content>
    </item>
    <item>
      <title>Snap lanserar produkt för AR-shopping</title>
      <link>https://www.di.se/digital/snap-lanserar-produkt-for-ar-shopping/</link>
      <description>Snap, som står bakom sociala appen Snapchat, stiger med drygt 8 procent i den amerikanska förhandeln efter att bolaget presenterat en produkt som kommer att ge möjlighet till AR-shopping till detaljhandelns webbplatser.</description>
      <pubDate>Thu, 23 Mar 2023 14:06:59 GMT</pubDate>
      <guid>https://www.di.se/digital/snap-lanserar-produkt-for-ar-shopping/</guid>
      <dc:creator>FinWire</dc:creator>
      <dc:date>2023-03-23T14:06:59Z</dc:date>
      <media:content type="image/jpeg" url="https://cached-images.bonnier.news/gcs/di-bilder-prod/mly/2dc35c6b-a739-4388-9404-a591c20a0350.jpeg?interpolation=lanczos-none&amp;downsize=1000:*&amp;output-quality=80&amp;output-format=jpeg">
        <media:credit role="author" scheme="urn:ebu">Bloomberg</media:credit>
        <media:description>Snaps grundare och vd Evan Spiegel</media:description>
        <media:thumbnail url="https://cached-images.bonnier.news/gcs/di-bilder-prod/mly/2dc35c6b-a739-4388-9404-a591c20a0350.jpeg?interpolation=lanczos-none&amp;downsize=1000:*&amp;output-quality=80&amp;output-format=jpeg"
        /></media:content>
    </item>
    <item>
      <title>Apple vill lägga en miljard dollar på biofilmer</title>
      <link>https://www.di.se/digital/apple-vill-lagga-en-miljard-dollar-pa-biofilmer/</link>
      <description>Apple planerar att locka abonnenter till sin streamingtjänst genom att producera filmer som ska visas på biografer. Satsningen väntas kosta bolaget en miljard dollar, uppger källor till Bloomberg News.</description>
      <pubDate>Thu, 23 Mar 2023 13:27:00 GMT</pubDate>
      <guid>https://www.di.se/digital/apple-vill-lagga-en-miljard-dollar-pa-biofilmer/</guid>
      <dc:creator>FinWire</dc:creator>
      <dc:date>2023-03-23T13:27:00Z</dc:date>
      <media:content type="image/jpeg" url="https://cached-images.bonnier.news/gcs/di-bilder-prod/mly/dbba58d1-3563-43d6-8e04-32d34881da7b.jpeg?interpolation=lanczos-none&amp;downsize=1000:*&amp;output-quality=80&amp;output-format=jpeg">
        <media:description>Apples vd Tim Cook.</media:description>
        <media:thumbnail url="https://cached-images.bonnier.news/gcs/di-bilder-prod/mly/dbba58d1-3563-43d6-8e04-32d34881da7b.jpeg?interpolation=lanczos-none&amp;downsize=1000:*&amp;output-quality=80&amp;output-format=jpeg"
        /></media:content>
    </item>
  </channel>
</rss>

    
